<div class="footer-wrapper__inside">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-copyright">
                    <p>@ 2024<a href="#">Layeen Digital</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-menu text-end">
                    <ul>
                        <li>
                            <a href="#">A Propos de Nous</a>
                        </li>
                        <li>
                            <a href="{% url "dashboard:changelog" %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>