{% extends 'index.html' %}

{% block content %}

{% load static %}
		<!-- main start -->
		<main class="js-animsition-overlay" data-animsition-overlay="true">
			    
			{% comment %} <div style="margin: 0px;height: 100vh;width: 100vw;padding-top: 0px;background-image:url({% static 'assets/images/img/sliders/slide_jaamalahi.png' %});background-repeat: no-repeat;background-size: 230vh 100vh;text-align: center;color: white;"> {% endcomment %}
				
					{% comment %} <h5>Hello World</h5> {% endcomment %}
				
					<section class="pos-rel bg-img-cover" style="background-image:url({% static 'assets/images/img/sliders/slide_jaamalahi.png' %})">
					<!-- bg-overlay -->
					<div class="bg-overlay-black"></div>
					<!-- pos-rel start -->
					<div class="pos-rel flex-min-height-10vh">
						<!-- container start -->
						<div style="width: 380px;"  class="container small padding-top-bottom-70 form-box">
							<img class="header-logo__img white" style="margin-left: 100px;" src="{% static 'assets/images/slide/logo/logo-1.png' %}" alt="logo">
							<br><br>
							<h5 class="text-center ">Bienvenue sur notre plateforme d'accrédfitations des badges Presse</h5>
							<br><br>
							<h5 class="text-center ">Veiller vous Inscrire</h5>
										<div class="contact-section">
					            </div>  
							{% include 'includes/messages.html' %}
							<!-- flex-container start -->
							<form action="{% url 'register' %}" method="POST" name="formobrsv" id="send_form" class="padding-top-5" style="padding: 10px; margin: 10px;">
								{% csrf_token %}
								<div class="four-columns" style="font-size: 15px;height: 05px;">
									<div class="column-l-margin-5 js-pointer-small" style="font-size: 15px; height: 30px;">
										<div style="text-align: center;">
											<label for="profile">Type de Presse</label>
										</div>
											<br>
										<select name="profile" id="profile" style="color: black;" required placeholder="Presse" class="form-input js-pointer-small">
											<option style="color: black; font-size: 18px;" value="" disabled selected class="w12 text-center">-----------</option>
											<option style="color: black; font-size: 18px;" name="profile" class="w12 text-center" value="presse">Ecrite</option>
											<option style="color: black; font-size: 18px;" name="profile" class="w12 text-center" value="presse">En Ligne</option>
										</select>
									</div>
								</div>
								<br><br><br><br><br>
								<div class="four-columns" style="font-size: 15px;height: 05px;">
									<div class="column-l-margin-5 js-pointer-small" style="font-size: 15px; height: 30px;">
										<div style="text-align: center;">
											<br><br>
											<label for="profile">Organe</label>
										</div>
											<br>
										<select name="organe" id="profile" style="color: black;" required placeholder="Organe" class="form-input js-pointer-small">
											<option style="color: black; font-size: 18px;" value="" disabled selected class="w12 text-center">-----------</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">TFM</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Seneweb</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">DakarActu</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Walf</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">D-Média</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Dakar Instant</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Actu SN</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">2STV</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">SeneNews</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">DakarInstant</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">SeneNews</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Layene Digital</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Diamalaye Event</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Layenne News</option>
											<option style="color: black; font-size: 18px;" name="organe" class="w12 text-center">Autre</option>								
										</select>
									</div>
								</div>
								<br><br><br><br><br>
								<div style="font-size: 15px;height: 30px;" class="four-columns">
									<div class="column-l-margin-10">
										<div style="text-align: center;">
											<br><br>
											<label for="firstname" style="text-align: center;">Nom</label>
										</div>
										<br>
										<input type="text" name="firstname" id="firstname" placeholder="Nom" required class="form-input js-pointer-small">
									</div>
								</div>
								<br><br><br><br><br>
								<div style="font-size: 15px; height: 30px;" class="four-columns">
									<div class="column-l-margin-10">
										<div style="text-align: center;">
											<br><br>
											<label for="lastname">Prenom</label>
										</div>
											<br>
										<input type="text" name="lastname" id="lastname" placeholder="Prenom" required class="form-input js-pointer-small">
									</div>
								</div>
								<br><br><br><br><br>
								<div style="font-size: 15px; height: 30px;" class="four-columns">
									<div class="column-l-margin-10">
										<div style="text-align: center;">
											<br><br>
											<label for="username">Username</label>
										</div>
											<br>
										<input type="text" name="username" id="username" placeholder="Username" required class="form-input js-pointer-small">
									</div>
								</div>
								<br><br><br><br><br>
								<div style="font-size: 15px; height: 30px;" class="four-columns">
									<div class="column-l-margin-10">
										<div style="text-align: center;">
											<br><br>
											<label for="email">Email</label>
										</div>
											<br>
										<input type="email" name="email" id="email" placeholder="Email" required class="form-input js-pointer-small">
									</div>
								</div>
								<br><br><br><br><br>
								<div style="font-size: 15px; height: 30px;" class="four-columns">
									<div class="column-l-margin-10">
										<div style="text-align: center;">
											<br><br>
											<label for="password">Mot de passe</label>
										</div>
											<br>
										<input type="password" name="password" id="password" placeholder="Password" required class="form-input js-pointer-small">
									</div>
								</div>
								<br><br><br><br><br>
								<div style="font-size: 15px; height: 30px;" class="four-columns">
									<div class="column-l-margin-10">
										<div style="text-align: center;">
											<br><br>
											<label for="confirm_password">Confirmation Mot de passe</label>
										</div>
											<br>
										<input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required class="form-input js-pointer-small">
									</div>
								</div>
								<br><br><br><br><br>
								<div style="margin-top: 35px;" class="twelve-columns text-center padding-top-30">
									<button id="send" class="border-btn js-pointer-large">
										<span class="border-btn__inner btn-outline-warning">S'Inscrire</span>
										<span class="btn-wait">Wait</span>
										<span class="border-btn__lines-1"></span>
										<span class="border-btn__lines-2"></span>
									</button>
									<br><br>
									<div class="extra-login clearfix">
										<button style="color: white;" class="border-btn js-pointer-large">Ou <a class="btn-outline-warning" style="color: white;" href="{% url 'login' %}"> Se Connecter</a></button>
									</div>
								</div>
								<!-- column end -->
								<div class="clearfix"></div>
								<ul class="social-list">
								</ul>
							</form>
							
						
						</div><!-- container end -->

						
						<!-- alert start -->
						<div class="js-popup-fade" id="m_sent">
							<div class="js-popup">
								<div class="popup-icon">
									<i class="fas fa-check"></i>
								</div>
								<p class="popup-alert headline-xs">
									Thank you!<br>
									Your submission<br>
									has been received!
								</p>
								<div class="js-popup-close js-pointer-large">
									<div class="flip-btn" data-text="Close">Close</div>
								</div>
							</div>
						</div><!-- alert end -->
	
						<!-- alert start -->
						<div class="js-popup-fade" id="m_err">
							<div class="js-popup">
								<div class="popup-icon">
									<i class="fas fa-times"></i>
								</div>
								<p class="popup-alert headline-xs">Error</p>
								<div class="js-popup-close js-pointer-large">
									<div class="flip-btn" data-text="Close">Close</div>
								</div>
							</div>
						</div><!-- alert end -->
					</div><!-- pos-rel end -->
				</section>
			</div>
		</main><!-- main end -->

{% endblock %}