{% load static %}
<div class="blog-card">
    <div class="blog-card__thumbnail" style="width:100%">
        <a href="#">
            <img src="{% static "img/img/photo_2025-01-01_20-05-32.jpg" %}" style="height:500px;" alt="">
        </a>
    </div>
    <div class="blog-card__details">
        <div class="blog-card__content">
            <h4 class="blog-card__title">
                <a href="#" class="entry-title" rel="bookmark" style="font-size: 19px;">#𝗔𝗽𝗽𝗲𝗹𝟮𝟬𝟮𝟱 - 𝗥𝗲𝘂𝗻𝗶𝗼𝗻 𝗱𝘂 𝗰𝗼𝗺𝗶𝘁𝗲 𝗱𝗲 𝘀𝘂𝗶𝘃𝗶 </a>
            </h4>
            <p style="text-align: justify;">Sur convocation du Prefet de Dakar, s'est tenue dans la salle de réunion de la prefecture le 25 novembre 2024 une rencontre réunissant des membres du comité de suivi des projets locaux envisagés dans le cadre de l'organisation de l'Appel de Seydina Limamou Lahi al Mahdi (PSL) prévu les 30 et 31 janvier 2025</p>
        </div>
    </div>
</div>