<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groupement Central Layene - Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/plugin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/slide/logo/favicon2.png' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
</head>
<body>
    <main class="main-content">
        <div class="admin" style="background-image: url('{% static "img/slide/slide_jaamalahi-4.jpg" %}');">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-8">
                        <div class="edit-profile">
                            <div class="edit-profile__logos">
                                <img class="dark" style="width:120px; height:160px" src="{% static 'img/slide/logo/Logo-GCL-white.png' %}" alt="">
                                <img class="light" src="{% static 'img/slide/logo/Logo-GCL-white.png' %}" alt="">
                            </div>
                            <div class="card border-0">
                                <div class="card-header">
                                    <div class="edit-profile__title">
                                        <h6 style="text-align: center;">Bienvenue sur notre plateforme d'accréditations des badges Presse</h6>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="edit-profile__body">
                                        <form method="POST" action="{% url 'forgot_password' %}">
                                            {% csrf_token %}
                                            <h2>Mot de passe oublié</h2>
                                            {% if messages %}
                                                <ul>
                                                    {% for message in messages %}
                                                        <li>{{ message }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            <p></p>
                                            <div class="form-group">
                                                <label for="email">Votre E-mail</label>
                                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Code Envoyé</button>
                                        </form>
                                        
                                    </div>
                                </div>
                                <div class="admin-topbar">
                                    <p class="mb-0">
                                        <a href="{% url 'register' %}" class="color-primary">
                                            S'Inscrire
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="overlayer">
        <div class="loader-overlay">
            <div class="dm-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </div>
    </div>
    <div class="enable-dark-mode dark-trigger">
        <ul>
        </ul>
      </div>
    <script src="{% static 'js/env.js' %}"></script>
    {% include 'partials/_scripts.html' %}
</body>
</html>