
{% load static %}
            <div class="layout-px-spacing">

                <div class="row layout-top-spacing">

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget-two">
                                <div class="widget-content">
                                    <div class="card">
                                            <h5 class="card-header">Nombre d'image Créa</h5>
                                            <div class="card-body">
                                                <button class="btn btn-primary">{{baqnueImg}}</button>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>     


                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget widget-three">
                            <div class="widget-heading">
                                  <div class="card">
                                        <h5 class="card-header">Nombre d'image Photo</h5>
                                        <div class="card-body">
                                            <button class="btn btn-primary">{{imagePhoto}}</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget widget-three">
                            <div class="widget-heading">
                                  <div class="card">
                                        <h5 class="card-header mr-auto">Ressources</h5>
                                        <div class="card-body">
                                            <button class="btn btn-primary">{{resource}}</button>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                    

                </div>

            </div>


