{% extends 'includes/admin/layout.html' %}
{% load static %}

{% block content %}
<div class="layout-px-spacing">
                <div class="card component-card_9">
                    <div class="card-group">
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                </div>

                <div class="card component-card_9">
                    <div class="card-group">
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/Yoff-27.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/Yoff-27.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/Yoff-27.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/Yoff-27.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/Yoff-27.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                </div>

                <div class="card component-card_9">
                    <div class="card-group">
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-5.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-5.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card" style="padding: 5px;">
                         <a class="img-1" href="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-size="1600x1068" data-med="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" data-med-size="1024x683" data-author="Samuel Rohl">                
                            <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-5.jpg' %}" alt="Card image cap">
                        </a>
                    </div>
                </div>
{% endblock %}

