{% extends 'includes/admin/layout.html' %} 
{% load static %}
{% block title %} | Dashboard {% endblock %}
{% block content %}
<style>
    /* Styles pour le popup */
    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        background: #fff;
        padding: 20px;
        max-width: 80%;
        max-height: 80%;
        overflow: auto;
    }
</style>
                <div class="card component-card_9">
                    <div class="card-group">
                    <div class="card" style="padding: 5px;">
                        <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">LA COMMUNAUTÉ AHLOU LAHI </h5>
                        <p class="card-text">Le 1er  Shabane 1301 de l’hégire (1883/1884), Limamou Thiaw un jeune pêcheur de Yoff (un village de la presqu'île de Cap-Vert, actuel Dakar)  reçut  l’injonction divine d’appeler son peuple au culte exclusif voué à Allah (SWT)...</p>
                        <p class="card-text"><small class="text-muted">Commission Scinetifique</small></p>
                        <button onclick="openPopup()">Lire Plus</button>
                        </div>
                    </div>
                </div>


                <!-- Popup -->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="popup-overlay" id="popupOverlay">
                                <div class="popup-content" style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                                    <!-- Votre contenu ici -->
                                    <p style="text-align: justify;color: black;">
                                        <br><br><br>
                                        <button onclick="closePopup()" class="btn btn-primary ml-auto">Fermer</button>
                                        <br>
                                        LA COMMUNAUTÉ AHLOU LAHI <br> <br>
                                        UN APPEL FUT LANCE EN 1301 H <br>
                                        Le 1er  Shabane 1301 de l’hégire (1883/1884), Limamou Thiaw un jeune pêcheur de Yoff (un village de la presqu'île de Cap-Vert, actuel Dakar)  reçut  l’injonction divine d’appeler son peuple au culte exclusif voué à Allah (SWT). Il lança son Appel à son peuple pour une adoration pure et sincère loin de toutes les innovations blâmables qui ternissaient l’image de l’islam.  Sa mission consistait à revivifier la religion et de lui redonner son lustre d’antan comme l’avait laissé le Prophète Mohamed (PSL).
                                        <br>
                                        Il appela son peuple en usant comme arme la formule de l’unicité (Là Ilàha Illa Laahu). Allah l’appuya par des miracles comme ce fut le cas pour les porteurs du message divin. Son plus grand miracle fut les cœurs impropres très attachés  à la mondanité et  aux idoles qu’il réussit à purifier pour en faire une communauté de juste-milieu.
                                        Seydina Limamou LAHI (PSL) consacra toute sa vie à invoquer Allah, accomplir la prière, distribuer de l’argent, donner la nourriture, assister les croyants plus particulièrement les pauvres et les personnes âgées qu’ils soient ses amis ou ses ennemies ou des envieux.
                                        Grace à son noble caractère, une communauté se forma autour de lui, composée par des habitants de la presqu’ile du Cap Vert et les délégations qui quittèrent l’intérieur du pays pour répondre à son Appel. 
                                        Cependant son appel rencontra la résistance d’une société tribale dans la laquelle idolâtrie, injustice, violence étaient monnaie courante. Il fut calomnié auprès des autorités coloniales ce qui lui valut les persécutions de1887 où il fut interné pendant 3 mois à Gorée après l’échec des tentatives de sa déportation.
                                        <br><br>
                                        LA VIE DU MAHDI SEYDINA LIMAMOU LAHI (PSL)
                                        1843 -1883
                                        Très tôt la vie de Seydina Limamou fut marquée par les signes avant-coureurs du grand homme qu’il allait devenir: sa propreté légendaire, la manifestation rapide de ses visions en état de songe et sa disponibilité extraordinaire. 
                                        Sans nul doute, il ne reçut aucun enseignement, il ne savait ni lire, ni écrire. Son occupation fut la pêche et l’agriculture pour nourrir sa famille et aider les nécessiteux.
                                        Il un homme exemplaire, et un modèle pour ses pairs « il était le plus actif, le plus courageux et le plus juste de sa génération, il cuisinait pour ses compagnons, les assistait sur tous les plans et dirigeait la prière» selon Bushrâ l-muhibbîn.  Très généreux, il distribuait tout ce qui lui passait par la main. Il fut dévoué dans son adoration à Allah  et ses prières pour son peuple furent toujours exaucées.
                                        1883 -1909
                                        En 1882, une comète est apparue à l’Est, quand Seydina Limamou (PSL) l’a vue il dit à son cousin Daouda Ndoye « s’il plait à Dieu un grand évènement va se produire cette année ». Trois jours, suite à la disparition de sa sainte mère Coumba Ndoye, et ses trois jours de jeun, enveloppé par ses pagnes blancs, Limamou surprit son peuple par son Appel: (Venez à l’Appel de Dieu, Hommes et Djinns je suis l’Envoyé de Dieu).  
                                        En 1887, Suite aux calomnies de ses détracteurs, Seydina Limamou (PSL) fut persécuté par les  autorités coloniales qui prirent au sérieux leurs propos : « Il est l’Imam qui mettra fin à votre ee». Un non-lieu fut prononcé à son égard après 3 mois de détention à Gorée.
                                        En 1888, Il fonda le KEM-Médine (Actuel Cambérène) qui deviendra le premier village layène où il s’adonna à l’éducation des adeptes qui deviendront plus tard les porteurs de sa mission salvatrice.  En 1909 il rendit l’âme et fut enterré à Diamalahi.
                                        <br><br>
                                        Revenir à l’orthodoxie musulmane
                                        Seydina Limamou Al-Mahdi (PSL) est apparu dans un environnement dominé par  le paganisme et beaucoup d’innovations blâmables  sur le plan religieux, il appela à un retour l’orthodoxie musulmane. 
                                        Il revivifia la religion musulmane, en appelant  à l’unicité de Dieu et au respect du projet de société de l’islam basé sur l’amour du prochain, la tolérance, l’acceptation de l’autre, la justice, la solidarité entre autres. 
                                        Il créa une société exemplaire où vivaient en parfaite harmonie toute les communautés religieuses tout en respectant scrupuleusement les préceptes de  l’Islam.
                                        Rétablir l’équité et la justice sociale
                                        Seydina Limamou Lahi (PSL) avait trouvé à son époque une société organisée autour des classes sociales basées sur les noms de famille, les clans, les castes et les origines. Il y avait des noms définis pour les familles royales, les sujets, les artisans, les esclaves. Dans cette société, les échanges de salutations pouvaient permettre de savoir l’appartenance de l’individu dans la hiérarchie sociale entraînant ainsi, soit des frustrations, soit des louanges qui sont des sources de  décadence ou de folie de grandeurs, etc.
                                        Afin de remédier à cette injustice sociale, Seydina Limamou (PSL) a trouvé comme remède un programme social basé sur sa philosophie d’affiliation à Dieu. Il remet alors tous les membres de la société au même niveau et élimine toutes les formes d’exclusion et d’inégalité. 
                                        Cette appartenance commune et cette conscience que tous les humains partagent la même origine aidera le monde à faire face aux différentes idéologies séparatistes qui menacent sa stabilité et rendent impossibles la cohésion de ses habitants et la réalisation d’une paix durable.
                                        Instaurer la non-violence<br>
                                        La non-violence fut la méthode de prédilection de Seydina Limamou Lahi Al-Mahdi (PSL) (1843-1909). Malgré les attaques, les complots, les calomnies et les tentatives de diabolisation à son encontre,  il  prôna la paix en toute circonstance. Selon l’érudit Cheikh Makhar Lô, auteur de sa biographie, sa conduite à l’égard de ceux qui le haïssaient était empreinte d’une telle courtoisie qu’on les croirait être ses  amis.
                                        Serigne Doun Pathe Ndoye  révèle, dans son livre « Jawabu Sail », que  Seydina Limamou « exagérait » dans sa pratique de la non-violence en disant à ses disciples : « si quelqu’un, par injustice vous coupe le fil de votre chapelet, souciez-vous d’en ramasser les perles. S’il s’y oppose, laissez le chapelet sur place et allez en chercher un autre ».
                                        Lorsque le Saint Maitre apprit que les autorités coloniales préparaient une attaque contre lui, il avertit ses disciples par ce message : « Si quelqu’un vient ici dans l’intention de m’arrêter ou de me tuer, ne faites rien contre lui. Laissez-moi entre les mains du Créateur, Il me suffit et je cherche appui qu’en Lui». 
                                        Seydina Limamou (PSL) ne s’était pas limité à vivre avec  la non-violence mais il la prôna pendant toute sa vie et ordonna à ses adeptes de l’adopter. Il dit dans l’un de ses sermons : « Soyez des pratiquants zélés car vous êtes dans la même situation que les premiers musulmans à qui l'on ordonnait de faire la guerre sainte et qui se battaient et versaient leur sang pour la religion de Dieu. Quant à nous, nous n'avons pas à faire la guerre sainte, je vous ordonne seulement la guerre contre les passions de l'âme (Jihadu nafsi). Cette guerre consiste à dominer autant que vous le pouvez toutes les parties de votre corps et à pratiquer les commandements de, Dieu, comme IL les a ordonné ».
                                        Promouvoir la tolérance et l’amour de son prochain
                                        L'Envoyé de Dieu (bénédiction de Dieu et Paix sur lui) avait dit à ses compagnons : "ne vous haïssez pas, ne soyez pas jaloux les uns des autres, ne vous éloignez pas les uns des autres, ne vous provoquez pas et évitez de vous humilier les uns par les autres. Soyez frères, vous les serviteurs de Dieu". Moi aussi, je ne vous recommande rien d'autre que cela ». Seydina Limamou Lahi (PSL)
                                        <br>
                                        Seydina Limamou a montré aux adeptes que la religion doit raffermir les liens entre les personnes, ça doit ne pas servir d’arme dans des conflits confessionnels ou  ethniques. Il a rappelé le devoir de chaque citoyen de créer un climat de paix et de cohésion en évitant tout ce qui peut être source de tension et de mésentente. 
                                        Lutter contre les antipodes de la paix
                                        •Les rumeurs :
                                        « Méfiez-vous des ouï-dire et des "on a dit que...", car bien souvent ce qu'on raconte et ce qu'on entend ne correspond pas à la réalité. Ne nourrissez à l'égard de vos frères que de bons soupçons. Évitez les mauvais soupçons. Dieu est à l'affût des soupçons de ses serviteurs ». 
                                        •L’hypocrisie
                                        « Je vous recommande d'éviter la médisance, la calomnie, le mensonge, la trahison et le fait de raconter beaucoup de choses sur quelqu'un que vous n'aimez pas. Évitez la jalousie, la haine, l'orgueil, et l'ostentation. Purifiez vos œuvres en les consacrant à Dieu ».
                                        <br><br><br>
                                        Seydina ISSA ROHOU LAHI 
                                        successeur de Seydina Limamou Lahi (psl)
                                        <br>
                                        En 1876, la  noble et sainte Fatimata Mbengue mit au monde le fils attendu continuateur parfait de la Mission du Mahdi Seydina Limamou Lahi, le maitre bien guidé.
                                        Seydina Issa fut l’incarnation parfaite d’un modèle de droiture et de piété érigé en règle conduite et inspiré de l’école de son vénéré père, le Mahdi Seydina Limamou Lahi.
                                        Un pur produit de l'école du Mahdi. Ce qui lui permit d'être un modèle pour sa génération et une fierté pour ses ancêtres.
                                        L’EXIL DE SEYDINA ISSA ROUHOU LAHI
                                        L’exil s’imposa à lui, cet exil que subissent généralement les grands apôtres au début de leur mission, et qui semble avoir pour eux une valeur initiatique, une épreuve à franchir pour parfaire le niveau de maturité qu’exigent les lourdes charges qui les attendent. Seydina Issa quitta donc le toit paternel de 1906 à 1909 pour séjourner à Ngakham (Département de Tivaouane) chez le Saint Mamour Diakhaté.
                                        ET LE SOLEIL DE L’ISLAM ATTEGNIT SON COUCHANT
                                        Le vendredi 14 Shawâl 1328 de l'hégire correspondant à 1909, le monde entier vécut des ténèbres sans précédent, le Mahdi quitta ce bas Monde
                                        Le Saint Maître Limamou Lahi venait de rendre l’âme, ce vendredi 2 Novembre 1909
                                        Seydina Issa alors âgé que de trente-trois ans, dirigea la prière mortuaire. Rappelant la présence éternelle de Dieu, il renouvela les exhortations habituelles de son père, invitant les fidèles à servir Dieu avec constance et sincérité, à s’adonner à des œuvres pieuses et à éviter le mal.
                                        <br><br>
                                        Un guide CHARISMATIQUE
                                        Seydina Issa conduit ainsi de main de maître les destinées de la communauté layène pendant 40 ans (1909 -1949). Une étape charnière de l'histoire de la communauté layene fut amorcée par la profondeur de sa vision, la force de sa détermination et la grandeur de son projet de société.
                                        Un Educateur chevronné à l’image de son père.
                                        Seydina Issa accorda une importance capitale à l'éducation. Il veillait au respect scrupuleux des recommandations divines et à l'obligation de s'éloigner de ses interdits. Il ne se limitait pas seulement aux recommandations et d'interdire oralement, mais il surveillait tous les propos et actes des disciples avec la plus grande fermeté. 
                                        Seydina Issa Rohou Lahi a bâti toute une génération aux valeurs exemplaires. Des citoyens actifs qui s’acquittent de leurs devoirs, les accomplissent avant de réclamer des droits, tout en ne négligeant jamais ceux des autres concitoyens. 
                                        A côté de l'éducation, Seydina Issa insista énormément sur les deux fondements de la félicité : le savoir et le travail. Il n'acceptait pas de voir les hommes dans le village pendant les heures de travail, ni se regrouper sous l'arbre à palabre. 
                                        Seydina Issa, encourageait aussi les apprenants, et exhortait les adeptes à envoyer leurs enfants à l'école.
                                        Il a grandement contribué à l’installation des écoles coraniques et religieuses à Cambérène et fut l’un des premiers guides religieux à accepter l’implantation de l’école française dans sa localité.
                                        FONDATION DE CAMBERENE
                                        <br><br>
                                        En 1914, le premier site de Camberène connut une douloureuse épidémie de peste. Seydina Issa  déplaça le village au bord de la mer, sur son emplacement actuel. 
                                        Par son courage et son abnégation, Seydina Issa a pu sauver son peuple en créant par exemple un camp d'isolement pour les malades. Cette mesure a contribué à stopper l'avancée de la maladie.
                                        Les autorités coloniales lui décernèrent la médaille de l’épidémie pour son rôle émérite.
                                        Un grand Urbaniste
                                        Le continuateur de l’œuvre grandiose du Mahdi entreprit un schéma urbaniste dans le village religieux de Camberène de l’époque. Il dessinait comme un architecte le plan des maisons et leurs dispositions en grandes concessions en forme de « U ». Ce qui a favorisé la fraternité, la solidarité et l'entraide. Tous ceux qui rendaient visite à la cité étaient impressionnés par ce plan architectural qu'il a créé depuis près d'un siècle. (Quelques prototypes de ce type architectural y existe encore aujourd'hui)
                                        Seydina Issa le diplomate
                                        Seydina Issa a vécu dans une époque de tensions et de guerres qui ont fait couler beaucoup de sang (les deux grandes guerres – des conflits internes- persécutions des autorités coloniales sur certains marabouts ou résistants). Le monde avait donc besoin d'une philosophie apaisante pour se soulager de l'animosité grandissante. Il n'est pas surprenant de voir la solution sortir de quelqu'un qui fut annoncé comme celui qui remplira la terre de justice et d'équité.
                                        Seydina Issa continua d'adopter la philosophie de son père sur la non-violence et l'acceptation de l'autre. Il disait : « Mon père avait dit : je ne vous ai pas appelé pour déclencher une bataille ou la guerre sainte. Il n'avait ni couteau, ni sabre, ni lance, ni autre chose. Il prêchait la bataille contre soi-même (contre ses passions, qui consiste à préserver les parties de son corps contre la pratique de ce Dieu a interdit à ses serviteurs, et à s'efforcer d'accomplir les commandements de Dieu et de son envoyé partout où vous soyez. Moi aussi je ne vous conseille rien d'autre que cela, à tous, hommes, femmes et enfants, à ceux qui sont libres, comme aux esclaves. Celui qui suit ce commandement et atteste sa véracité devient droit. Celui qui s'en écarte ne porte préjudice qu'à lui-même »
                                        Il a ordonné l'écriture des plus grands ouvrages de la communauté sur Seydina Limamou Laye tels que « bushra l-muhibbîn wa tayqîdh al-jahilîn » écrit par Cheikh Matar Lô, et « jawâb as-sâ'il fî manâqib al-hulâhil » écrit par Doune Pathé Ndoye, et tout cela pour montrer sa volonté de sauvegarder le riche patrimoine layène.
                                        Seydina Issa, a travaillé pour doter le village, d'infrastructures religieuses, éducatives et sociales telles que la mosquée, l'école, le dispensaire, le poste de gendarmerie et les routes entre autres.
                                        Il ne s'est pas limité à Camberène, il a aussi œuvré pour le développement de tous les villages layènes. A son actif l’érection de Gossas, un village du département de Fatick, en parfaite harmonie avec les autorités coutumières de l’époque (Buur SINE). Ainsi, sa dernière réalisation a été la construction de la mosquée de Yoff entre 1946 et 1949 sur fonds propres avec la participation exclusive des disciples de la communauté. 
                                        LA FAMILLE DE SEYDINA LIMAMOU (PSL)
                                        A propos d Seydina Issa Rouhou Lahi ; "... je sais que je mourrai quand le terme en sera venu, mais si je meurs avant d'avoir accompli ce que Dieu m'a ordonné, ce garçon achèvera mon œuvre" Seydina Limamou (psl)
                                        <br><br>                                   
                                        A propos de Seydina Mandione LAHI ; il est né en 1881 à Yoff et est rappelé à Dieu en 1971 à Yoff. Il était à la tête de la confrérie de 1949 à 1971.
                                        A propos d Seydina Babacar Lahi dit Mame Mbaye ;  il est né en 1896 à Yoff. Sa mère se nomme Mame Touty SYLLA de son vrai nom Aminata SYLLA, son père Seydina Limamou Lahi -le mahdi – PSL- Il est parti rejoindre son illustre père le vingt-sept « -27 mami cor  1966 ». 
                                        A propos d Seydina Issa LAHI (dit Baye Seydi Thiaw) ; il est né en 1914-1915 à Rufisque et est rappelé à Dieu en 1987 à Yoff. Il était à la tête de la confrérie de 1971 à 1987.
                                        A propos d Seydina Mame Alassane LAHI ; il est né en 1917-1918 à Yeumbeul et est rappelé à Dieu en 2001 à Yoff. Il était à la tête de la confrérie de 1987 à 2001.
                                        SEYDINA ABDOULAHI THIAW LAHI, 5ÈME KHALIFE DU MAHDI (PSL) : UN GUIDE, UN DESTIN 
                                        Seydina El Hadji Abdoulahi THIAW LAHI est le premier guide religieux qui a osé en son temps défendre les autres confréries, au moment où d'aucuns prônaient une autre voie que le soufisme. C'est ce qui lui a permis de favoriser un brassage entre les différentes familles religieuses du pays.
                                        Cette stratégie constitue un élément appréciable dans le cadre de la dynamique de paix et de concorde nationale et représente un pas très important qui favorise le renforcement de l'Unité des musulmans.
                                        En 1968 par la création des Dahiras comme des écoles de la vie mais aussi et surtout, l'insertion de l'approche genre comme enseignée par Seydina Limamou LAHI (psl), conformément aux textes coraniques, chapitre 33, verset 35. La femme reprenait ainsi, la place qui lui était dévolue dans la pratique de la religion.
                                        En son temps, il était voué aux gémonies. Mais malgré cela, il a toujours inculqué aux talibés une dynamique de Paix, de tolérance pour l'acceptation des autres musulmans.
                                        Pour vulgariser le message de son Grand père Seydina Limamou LAHI, Seydina El Hadji Abdoulahi s'est inspiré du Saint Coran, des Hadiths authentiques et des livres anciens.
                                        <br><br>
                                        L’anniversaire de l’Appel
                                        Le 05 Juin 1980, le Troisième khalife et petit-fils du Mahdi, Seydina Issa fils ainé de Seydina Mandione deuxième khalife du Mahdi initia les premières journées commémoratives de l’Appel. Ce fut une occasion pour lui de en tant que khalife de Seydina Limamou Lahi (PSL) d’assumer et de confirmer un siècle après la mission prophétique de son grand père le Mahdi Seydina Limamou Lahi (PSL). Une occasion pour la communauté de renouveler l’appel du Saint Maitre et son message universellement reconnu à travers la presse et notifié à l’endroit des tenants des pouvoirs temporels et spirituels.
                                        <br><br>
                                        Le Message du jour fut tenu durant la cérémonie officielle en langues arabe par El hadji Mouhamadou Sakhir GAYE, en français par El hadji Seydina Issa DIOP et Seydina El hadji Abdoulaye THIAW Lahi (actuel khalife) prononça un discours magistral en Wolof.
                                        Les fidèles répondirent massivement à la première célébration. Des foules de fidèles arpentèrent les ruelles sablonneuse de Jamalahi la sainte et environ  ainsi des coreligionnaires appartenant à d’autres familles religieuses du pays. Le gouvernement y était représenté par une forte délégation de ministres, députés et Directeurs de services.
                                        Pendant deux jours, la capitale a vibré au rythme de la commémoration du centenaire de  l'Appel de Seydina Limamou Lahi al Mahdi.  Respectivement le village de Camberène, la grotte de Ngor et Yoff-Diamalaye deviennent l'attraction de milliers de fidèles, tous de blancs vêtus, symbole de la pureté.
            
                                    </p>
                                    <button onclick="closePopup()" class="btn btn-primary">Fermer</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                {% comment %} <div class="popup-overlay" id="popupOverlay">
                    <div class="popup-content">

                        <button onclick="closePopup()">Fermer</button>
                    </div>
                </div> {% endcomment %}

                <script>
                    function openPopup() {
                        document.getElementById("popupOverlay").style.display = "flex";
                    }

                    function closePopup() {
                        document.getElementById("popupOverlay").style.display = "none";
                    }
                </script>
{% endblock %}


