{% extends 'includes/admin/layout.html' %} 
{% load static %}
{% block title %} | Dashboard {% endblock %}
{% block content %}
                <div class="card component-card_9">
                    <div class="card-group">
                    <div class="card" style="padding: 5px;">
                        <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Soleil de l'occident</h5>
                        <p class="card-text">Limamou Thiaw, plus connu sous le nom de Seydina Limamou Laye (ou Lahi ; 1843-1909), est une grande figure de l'islam au Sénégal, qui s’est proclamé l'imam mahdi et réincarnation du prophète de Mouhammad (PSL). Il est le guide de la communauté Ahlou Lahi, communément appelée layène (venant du nom dont s'est rebaptisé Limamou Thiaw, « Laye », qui est une déformation et un dérivé d’Allah en wolof</p>
                        <p class="card-text"><small class="text-muted">il y a une semaine</small></p>
                        </div>
                    </div>
                    <div class="card" style="padding: 5px;">
                        <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Soleil de l'occident</h5>
                        <p class="card-text">Limamou Thiaw, plus connu sous le nom de Seydina Limamou Laye (ou Lahi ; 1843-1909), est une grande figure de l'islam au Sénégal, qui s’est proclamé l'imam mahdi et réincarnation du prophète de Mouhammad (PSL). Il est le guide de la communauté Ahlou Lahi, communément appelée layène (venant du nom dont s'est rebaptisé Limamou Thiaw, « Laye », qui est une déformation et un dérivé d’Allah en wolof.</p>
                        <p class="card-text"><small class="text-muted">il y a une semaine</small></p>
                        </div>
                    </div>
                    <div class="card" style="padding: 5px;">
                        <img class="card-img-top" src="{% static 'assets/images/img/gallery/ngor-7.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Soleil de l'occident</h5>
                        <p class="card-text">Limamou Thiaw, plus connu sous le nom de Seydina Limamou Laye (ou Lahi ; 1843-1909), est une grande figure de l'islam au Sénégal, qui s’est proclamé l'imam mahdi et réincarnation du prophète de Mouhammad (PSL). Il est le guide de la communauté Ahlou Lahi, communément appelée layène (venant du nom dont s'est rebaptisé Limamou Thiaw, « Laye », qui est une déformation et un dérivé d’Allah en wolof.</p>
                        <p class="card-text"><small class="text-muted">il y a une semaine</small></p>
                        </div>
                    </div>
                </div>
{% endblock %}
