{% extends 'layout/app.html' %}

{% block title %} Demo Four {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
    <style>
        /* Grid Styling */
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .col-xxl-4 {
            flex: 1 0 33%; /* 3 colonnes */
            max-width: 33%;
            padding: 10px;
        }

        .blog-card img {
            width: 100%;
            cursor: pointer;
        }

        /* Modal Styling */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.9);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            max-width: 80%;
            max-height: 80%;
            margin: auto;
            display: block;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: white;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }

    </style>

    <div class="demo4 crm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">{% translate "Médiathéque" %}</h4>
                        <div class="breadcrumb-action justify-content-center flex-wrap">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>{% translate "Médiathéque" %}</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-1.jpg' %}" alt="Image 1" onclick="showImageModal(this">
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-2.jpg' %}" alt="Image 2" onclick="showImageModal(this">
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-3.jpg' %}" alt="Image 3" onclick="showImageModal(this">
                        </div>
                    </div>
                    
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-4.jpg' %}" alt="Image 1" onclick="showImageModal(this">
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-5.jpg' %}" alt="Image 2" onclick="showImageModal(this">
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-6.jpg' %}" alt="Image 3" onclick="showImageModal(this">
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-7.jpg' %}" alt="Image 2" onclick="showImageModal(this">
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mb-3">
                        <div class="blog-card">
                            <img src="{% static 'img/slide/Layene-Digital-8.jpg' %}" alt="Image 3" onclick="showImageModal(this">
                        </div>
                    </div>
                </div>
                
                <!-- Modal -->
                <div id="imageModal" class="modal">
                    <span class="close" onclick="closeImageModal()">&times;</span>
                    <img class="modal-content" id="modalImage">
                </div>
                  
            </div>
        </div>
    </div>

                    <!-- Conteneur Modal -->
                    <div id="imageModal">
                        <span class="close" onclick="closeImageModal()">&times;</span>
                        
                    </div>

                    
    <script>
        function showImageModal(img) {
            var modal = document.getElementById('imageModal');
            var modalImg = document.getElementById('modalImage');
            modal.style.display = "flex";
            modalImg.src = img.src;
        }
        
        function closeImageModal() {
            var modal = document.getElementById('imageModal');
            modal.style.display = "none";
        }
        
    </script>
{% endblock %}

