{% extends 'layout/app.html' %}

{% block title %} Demo Two {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
    <div class="demo2 mb-25 t-thead-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb-main">
                        <h4 class="text-capitalize breadcrumb-title">{% translate "Demande d'accréditation" %}</h4>
                        <div class="breadcrumb-action justify-content-center flex-wrap">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>{% translate "Mes Demandes" %}</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                 <div class="col-xxl-12">
                    {% include 'components/dashboard/demo_two/revenue_source.html' %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

