{% load static %}

<div class="col-xxl-4 col-lg-6 mb-25">
    <div class="blog-card">
        <div class="blog-card__thumbnail">
            <a href="#">
                <img src="{% static 'img/slide/photo_2021-07-28_12-39-49.jpg' %}" alt="">
            </a>
        </div>
        <div class="blog-card__details">
            <div class="blog-card__content">
                <h4 class="blog-card__title">
                    <a href="#" class="entry-title" rel="bookmark">Dossier Presse #Appel 2025</a>
                </h4>
                <p>Par Layene Digital</p>
                <!-- Bouton pour télécharger le PDF -->
                <a href="{% static 'img/files/dossier Presse.pdf' %}" 
                    target="_blank"
                    class="banner-feature__btn btn btn-primary color-white btn-md radius-xs fs-15">
                    Télécharger
                </a>

            </div>
        </div>
    </div>
</div>

