{% load static %}

<div class="col-xxl-4 col-lg-6 mb-25">
    <div class="blog-card">
        <div class="blog-card__thumbnail">
            <a href="#">
                <img src="{% static 'img/slide/photo_2021-07-28_12-39-49.jpg' %}" alt="">
            </a>
        </div>
        <div class="blog-card__details">
            <div class="blog-card__content">
                <h4 class="blog-card__title">
                    <a href="#" class="entry-title" rel="bookmark">Calendrier Appel #25</a>
                </h4>
                <p>Text</p>
                <!-- Bouton pour télécharger le PDF -->
                <a href="{% static 'img/files/Tribune du Vendredi N°51.pdf' %}" 
                    target="_blank"
                    class="banner-feature__btn btn btn-primary color-white btn-md radius-xs fs-15">
                    Lire l'Article
                </a>

            </div>
        </div>
    </div>
</div>

<div class="col-xxl-4 col-lg-6 mb-25">
    <div class="blog-card">
        <div class="blog-card__thumbnail">
            <a href="#">
                <img src="{% static 'img/slide/photo_2021-07-28_12-40-05.jpg' %}" alt="">
            </a>
        </div>
        <div class="blog-card__details">
            <div class="blog-card__content">
                <h4 class="blog-card__title">
                    <a href="#" class="entry-title" rel="bookmark">Historique de l'Appel</a>
                </h4>
                <p>Text</p>
                <a href="{% static 'img/files/Tribune du Vendredi N°51.pdf' %}" 
                    target="_blank"
                    class="banner-feature__btn btn btn-primary color-white btn-md radius-xs fs-15">
                    Lire l'Article
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-xxl-4 col-lg-6 mb-25">
    <div class="blog-card">
        <div class="blog-card__thumbnail">
            <a href="#">
                <img src="{% static 'img/slide/45.jpg' %}" alt="">
            </a>
        </div>
        <div class="blog-card__details">
            <div class="blog-card__content">
                <h4 class="blog-card__title">
                    <a href="#" class="entry-title" rel="bookmark">Préparatif Appel #25 </a>
                </h4>
                <p>Text</p>
                <a href="{% static 'img/files/Tribune du Vendredi N°51.pdf' %}" 
                    download="Tribune_du_Vendredi_N51.pdf" 
                    class="banner-feature__btn btn btn-primary color-white btn-md radius-xs fs-15">
                        Télécharger l'Article
                </a>
            </div>
        </div>
    </div>
</div>